blog_styles(class = 'blog')
    .{class}
        margin-top: 2em;
        margin-bottom: 2em;

        a
            position: relative;

        hr
            margin-top: 2em;
            margin-bottom: 2em;

        h2
            font-size: 2.5em;
        h3
            font-size: 2.5em;

        small
            background: #F4F1ED;
            border-radius: 5px;
            display: block;
            font-size: 0.8em;
            font-weight: 400;
            margin: 0.5em 0 2em;
            padding: 0.5em 1em;
            a
                background: #acaaa7
                border-radius: 3px
                color: #ffffff
                display: inline
                padding: 0 0.5em

            .comments
                float: right;

        .post p
            font-size: 1.1em;
            line-height: 1.4em;
            margin: 1em 0;
            a
                font-weight: 600;
                text-decoration: underline;


        .pagination
            a
                background: #F4F1ED
                border-radius: 5px
                padding: 1em
                width: 46%

            a .icon
                font-size: 320%;

            .older
                float: left
                text-align: right

            .newer
                float: right
                text-align: left

            .icon.previous
                float: left;
                margin-right: 0.5em

            .icon.next
                float: right;
                margin-left: 0.5em
